In [1]:
import pandas as pd
import os
import json
import numpy as np

# Load Data

In [30]:
data_directory = '../../raw_data/soccer_match-paper_dataset'
events_directory = os.path.join(data_directory, 'events')
matches_directory = os.path.join(data_directory, 'matches')
other_directory = os.path.join(data_directory, 'other')
tags_directory = os.path.join(data_directory, 'tags')

events_file_names = os.listdir(events_directory)
matches_file_names = os.listdir(matches_directory)
other_file_names = os.listdir(other_directory)
tags_file_names = os.listdir(tags_directory)

In [3]:
events_dfs = {}
for file_name in events_file_names:
    events_dfs[f"{file_name.replace('.json','')}"] = pd.read_json(os.path.join(events_directory,file_name))

In [4]:
events_dfs.keys()

dict_keys(['events_European_Championship', 'events_France', 'events_Italy', 'events_Spain', 'events_Germany', 'events_World_Cup', 'events_England'])

In [5]:
matches_dfs = {}
for file_name in matches_file_names:
    matches_dfs[f"{file_name.replace('.json','')}"] = pd.read_json(os.path.join(matches_directory,file_name))

In [6]:
matches_dfs.keys()

dict_keys(['matches_Italy', 'matches_European_Championship', 'matches_Germany', 'matches_France', 'matches_Spain', 'matches_World_Cup', 'matches_England'])

In [7]:
other_dfs = {}
for file_name in other_file_names:
    other_dfs[f"{file_name.replace('.json','')}"] = pd.read_json(os.path.join(other_directory,file_name))

In [8]:
other_dfs.keys()

dict_keys(['playerank', 'referees', 'competitions', 'coaches', 'teams', 'players'])

In [32]:
tags_dfs = {}
for file_name in tags_file_names:
    tags_dfs[f"{file_name.replace('.csv','')}"] = pd.read_csv(os.path.join(tags_directory,file_name))

In [33]:
tags_dfs.keys()

dict_keys(['eventid2name', 'tags2name'])

# Analyze data

## Events Dataset

In [9]:
events = events_dfs['events_Italy']
events

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id
0,8,Simple pass,[{'id': 1801}],8327,"[{'y': 52, 'x': 49}, {'y': 44, 'x': 43}]",2575959,Pass,3158,1H,2.530536,85,180423957
1,8,Simple pass,[{'id': 1801}],20438,"[{'y': 44, 'x': 43}, {'y': 17, 'x': 36}]",2575959,Pass,3158,1H,3.768418,85,180423958
2,7,Touch,[],8306,"[{'y': 17, 'x': 36}, {'y': 56, 'x': 78}]",2575959,Others on the ball,3158,1H,4.868265,72,180423959
3,1,Ground attacking duel,"[{'id': 504}, {'id': 703}, {'id': 1801}]",8306,"[{'y': 56, 'x': 78}, {'y': 15, 'x': 64}]",2575959,Duel,3158,1H,8.114676,11,180423960
4,1,Ground attacking duel,"[{'id': 503}, {'id': 703}, {'id': 1801}]",8306,"[{'y': 15, 'x': 64}, {'y': 15, 'x': 72}]",2575959,Duel,3158,1H,8.647892,11,180423961
...,...,...,...,...,...,...,...,...,...,...,...,...
647367,3,Free kick cross,"[{'id': 801}, {'id': 1801}]",70974,"[{'y': 23, 'x': 75}, {'y': 65, 'x': 95}]",2576338,Free Kick,3193,2H,2870.982660,32,253567160
647368,1,Ground loose ball duel,"[{'id': 702}, {'id': 1801}]",14745,"[{'y': 35, 'x': 5}, {'y': 36, 'x': 3}]",2576338,Duel,3185,2H,2872.101142,13,253567161
647369,1,Ground loose ball duel,"[{'id': 702}, {'id': 1801}]",413041,"[{'y': 65, 'x': 95}, {'y': 64, 'x': 97}]",2576338,Duel,3193,2H,2872.990437,13,253567163
647370,1,Air duel,"[{'id': 703}, {'id': 1801}]",20927,"[{'y': 36, 'x': 3}, {'y': 100, 'x': 100}]",2576338,Duel,3185,2H,2874.049206,10,253567162
647371,1,Air duel,"[{'id': 701}, {'id': 1802}]",0,"[{'y': 64, 'x': 97}, {'y': 0, 'x': 0}]",2576338,Duel,3193,2H,2874.049206,10,253567276

In [38]:
tags_dfs['eventid2name'].head(100)

    event  subevent              event_label           subevent_label
0       1        10                     Duel                 Air duel
1       1        11                     Duel    Ground attacking duel
2       1        12                     Duel    Ground defending duel
3       1        13                     Duel   Ground loose ball duel
4       2        20                     Foul                     Foul
5       2        21                     Foul                Hand foul
6       2        22                     Foul           Late card foul
7       2        23                     Foul         Out of game foul
8       2        24                     Foul                  Protest
9       2        25                     Foul               Simulation
10      2        26                     Foul           Time lost foul
11      2        27                     Foul             Violent Foul
12      3        30                Free Kick                   Corner
13      3        31                Free Kick                Free Kick
14      3        32                Free Kick          Free kick cross
15      3        33                Free Kick           Free kick shot
16      3        34                Free Kick                Goal kick
17      3        35                Free Kick                  Penalty
18      3        36                Free Kick                 Throw in
19      4        40  Goalkeeper leaving line  Goalkeeper leaving line
20      5        50             Interruption    Ball out of the field
21      5        51             Interruption                  Whistle
22      6        60                  Offside                  Offside
23      7        70       Others on the ball             Acceleration
24      7        71       Others on the ball                Clearance
25      7        72       Others on the ball                    Touch
26      8        80                     Pass                    Cross
27      8        81                     Pass                Hand pass
28      8        82                     Pass                Head pass
29      8        83                     Pass                High pass
30      8        84                     Pass                   Launch
31      8        85                     Pass              Simple pass
32      8        86                     Pass               Smart pass
33      9        90             Save attempt                 Reflexes
34      9        91             Save attempt             Save attempt
35     10       100                     Shot                     Shot

In [36]:
tags_dfs['tags2name'].tail(5)

     Tag         Label   Description
54   701          lost          Lost
55   702       neutral       Neutral
56   703           won           Won
57  1801      accurate      Accurate
58  1802  not accurate  Not accurate

## Playerank dataset

In [10]:
other_dfs['playerank'].head(5)

   goalScored  playerankScore  matchId  playerId roleCluster  minutesPlayed
0           0          0.0053  2057991     10014    right CB             90
1           0          0.0009  2057992     10014    right CB             41
2           0         -0.0013  2057998    100140  central MF             90
3           0          0.0031  2058000    100140     left CB             90
4           0          0.0035  2499869     10108    right CB             90

In [11]:
other_dfs['playerank'][other_dfs['playerank']['playerId']==263591]

,goalScored,playerankScore,matchId,playerId,roleCluster,minutesPlayed
22039,0,0.0125,2576025,263591,central MF,34
22040,0,-0.0085,2576126,263591,right MF,19
22041,0,-0.0102,2576164,263591,right FW,28
22042,0,-0.0006,2576215,263591,central MF,13
22043,0,-0.0075,2576232,263591,right MF,23
22044,0,-0.0060,2576257,263591,right FW,62
22045,0,-0.0077,2576316,263591,right FW,90
22046,0,-0.0034,2576319,263591,central MF,85
22047,0,0.0122,2576329,263591,right MF,71

## Competitions dataset

In [12]:
other_dfs['competitions'][['name','wyId', 'format', 'type']].head(5)

                     name  wyId           format  type
0  Italian first division   524  Domestic league  club
1  English first division   364  Domestic league  club
2  Spanish first division   795  Domestic league  club
3   French first division   412  Domestic league  club
4   German first division   426  Domestic league  club

## Teams dataset

In [14]:
teams = other_dfs['teams'][['name', 'wyId']]
teams

                      name   wyId
0         Newcastle United   1613
1            Celta de Vigo    692
2                 Espanyol    691
3    Deportivo Alav\u00e9s    696
4                  Levante    695
..                     ...    ...
137                  Spain   1598
138                 Serbia  17322
139            Switzerland   6697
140                 Poland  13869
141                Nigeria  16823

[142 rows x 2 columns]

## Players dataset

In [15]:
other_dfs['players'][['firstName', 'lastName', 'currentTeamId', 'birthDate', 'role', 'wyId', 'currentNationalTeamId']].head(5)

,firstName,lastName,currentTeamId,birthDate,role,wyId,currentNationalTeamId
0,Harun,Tekin,4502,1989-06-17,"{'code2': 'GK', 'code3': 'GKP', 'name': 'Goalk...",32777,4687
1,Malang,Sarr,3775,1999-01-23,"{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...",393228,4423
2,Over,Mandanda,3772,1998-10-26,"{'code2': 'GK', 'code3': 'GKP', 'name': 'Goalk...",393230,null
3,Alfred John Momar,N'Diaye,683,1990-03-06,"{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...",32793,19314
4,Ibrahima,Konat\u00e9,2975,1999-05-25,"{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...",393247,null

## Matches dataset

In [17]:
match_features = ['teamsData','seasonId', 'dateutc', 'winner', 'wyId', 'competitionId']

In [18]:
pd.DataFrame(matches_dfs['matches_Italy'])

,status,roundId,gameweek,teamsData,seasonId,dateutc,winner,venue,wyId,label,date,referees,duration,competitionId
0,Played,4406278,38,"{'3162': {'scoreET': 0, 'coachId': 251025, 'si...",181248,2018-05-20 18:45:00,3161,,2576335,"Lazio - Internazionale, 2 - 3","May 20, 2018 at 8:45:00 PM GMT+2","[{'refereeId': 377206, 'role': 'referee'}, {'r...",Regular,524
1,Played,4406278,38,"{'3158': {'scoreET': 0, 'coachId': 210119, 'si...",181248,2018-05-20 18:45:00,3158,MAPEI Stadium - Citt\u00e0 del Tricolore,2576336,"Sassuolo - Roma, 0 - 1","May 20, 2018 at 8:45:00 PM GMT+2","[{'refereeId': 377255, 'role': 'referee'}, {'r...",Regular,524
2,Played,4406278,38,"{'3173': {'scoreET': 0, 'coachId': 251044, 'si...",181248,2018-05-20 16:00:00,3173,,2576329,"Cagliari - Atalanta, 1 - 0","May 20, 2018 at 6:00:00 PM GMT+2","[{'refereeId': 377247, 'role': 'referee'}, {'r...",Regular,524
3,Played,4406278,38,"{'3165': {'scoreET': 0, 'coachId': 272970, 'si...",181248,2018-05-20 16:00:00,3165,,2576330,"Chievo - Benevento, 1 - 0","May 20, 2018 at 6:00:00 PM GMT+2","[{'refereeId': 377246, 'role': 'referee'}, {'r...",Regular,524
4,Played,4406278,38,"{'3166': {'scoreET': 0, 'coachId': 20481, 'sid...",181248,2018-05-20 16:00:00,3163,,2576331,"Udinese - Bologna, 1 - 0","May 20, 2018 at 6:00:00 PM GMT+2","[{'refereeId': 377254, 'role': 'referee'}, {'r...",Regular,524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Played,4406278,1,"{'3315': {'scoreET': 0, 'coachId': 261661, 'si...",181248,2017-08-20 18:45:00,0,MAPEI Stadium - Citt\u00e0 del Tricolore,2575967,"Sassuolo - Genoa, 0 - 0","August 20, 2017 at 8:45:00 PM GMT+2","[{'refereeId': 377233, 'role': 'referee'}, {'r...",Regular,524
376,Played,4406278,1,"{'3165': {'scoreET': 0, 'coachId': 21603, 'sid...",181248,2017-08-20 18:45:00,3165,Dacia Arena,2575968,"Udinese - Chievo, 1 - 2","August 20, 2017 at 8:45:00 PM GMT+2","[{'refereeId': 377254, 'role': 'referee'}, {'r...",Regular,524
377,Played,4406278,1,"{'3172': {'scoreET': 0, 'coachId': 210116, 'si...",181248,2017-08-20 16:00:00,3158,Stadio Atleti Azzurri d'Italia,2575959,"Atalanta - Roma, 0 - 1","August 20, 2017 at 6:00:00 PM GMT+2","[{'refereeId': 377248, 'role': 'referee'}, {'r...",Regular,524
378,Played,4406278,1,"{'3194': {'scoreET': 0, 'coachId': 270032, 'si...",181248,2017-08-19 18:45:00,3187,Stadio Marc'Antonio Bentegodi,2575962,"Hellas Verona - Napoli, 1 - 3","August 19, 2017 at 8:45:00 PM GMT+2","[{'refereeId': 377252, 'role': 'referee'}, {'r...",Regular,524
379,Played,4406278,1,"{'3159': {'scoreET': 0, 'coachId': 20386, 'sid...",181248,2017-08-19 16:00:00,3159,Allianz Stadium,2575964,"Juventus - Cagliari, 3 - 0","August 19, 2017 at 6:00:00 PM GMT+2","[{'refereeId': 377263, 'role': 'referee'}, {'r...",Regular,524

In [19]:
italy_games = pd.DataFrame(matches_dfs['matches_Italy'])[match_features]
italy_games.rename(columns = {'wyId':'matchId'}, inplace = True)
italy_games.head(5)

,teamsData,seasonId,dateutc,winner,matchId,competitionId
0,"{'3162': {'scoreET': 0, 'coachId': 251025, 'si...",181248,2018-05-20 18:45:00,3161,2576335,524
1,"{'3158': {'scoreET': 0, 'coachId': 210119, 'si...",181248,2018-05-20 18:45:00,3158,2576336,524
2,"{'3173': {'scoreET': 0, 'coachId': 251044, 'si...",181248,2018-05-20 16:00:00,3173,2576329,524
3,"{'3165': {'scoreET': 0, 'coachId': 272970, 'si...",181248,2018-05-20 16:00:00,3165,2576330,524
4,"{'3166': {'scoreET': 0, 'coachId': 20481, 'sid...",181248,2018-05-20 16:00:00,3163,2576331,524

In [20]:
def create_home_away_cols(matches):
    home = []
    away = []
    for index, row in matches.iterrows():
        team0 = list(matches.loc[index].teamsData.keys())[0]
        team1 = list(matches.loc[index].teamsData.keys())[1]
        if matches.loc[index].teamsData[team0]['side'] == 'home':
            home.append(team0)
            away.append(team1)
        else:
            home.append(team1)
            away.append(team0)
    matches['homeId'] = home
    matches['homeId'] = matches['homeId'].astype(int)
    matches['awayId'] = away
    matches['awayId'] = matches['awayId'].astype(int)
    return matches

In [21]:
def get_home_away_names(matches):
    matches = matches.merge(teams, left_on = 'homeId', right_on = 'wyId')
    matches = matches.rename(columns = {'name' : 'homeTeam'}).drop(columns = 'wyId')
    matches = matches.merge(teams, left_on = 'awayId', right_on = 'wyId')
    matches = matches.rename(columns = {'name' : 'awayTeam'}).drop(columns = 'wyId')
    return matches.sort_values(by = 'dateutc', ascending = False)

In [22]:
def get_goals(matches):
    home_goals = []
    away_goals = []
    for index, row in matches.iterrows():
        team0 = list(matches.loc[index].teamsData.keys())[0]
        team1 = list(matches.loc[index].teamsData.keys())[1]
        goals0 = matches.loc[index].teamsData[team0]['score']
        goals1 = matches.loc[index].teamsData[team1]['score']
        if matches.loc[index].teamsData[team0]['side'] == 'home':
            home_goals.append(goals0)
            away_goals.append(goals1)
        else:
            home_goals.append(goals1)
            away_goals.append(goals0)
    matches['homeScore'] = home_goals
    matches['awayScore'] = away_goals
    return matches

In [26]:
def get_avg_playerank(matches):
    home_avg_ranks = []
    away_avg_ranks = []
    def calc_avg_scores(players, index):
        scores = []
        for player in players:           
            condition_player = other_dfs['playerank']['playerId'] == player
            condition_match = other_dfs['playerank']['matchId'] == matches.matchId.loc[index]
            try:
                player_score = other_dfs['playerank'][condition_player & condition_match]['playerankScore'].values[0]
                scores.append(player_score)
            except:
                None
        return np.mean(scores)

    for index, row in matches.iterrows():
        for team in list(matches.teamsData.loc[index].keys()):
            players = []
            for dic in matches.teamsData.loc[index][team]['formation']['lineup']:
                    players.append(dic['playerId'])
            if matches.loc[index].teamsData[team]['side'] == 'home':
                home_avg_ranks.append(calc_avg_scores(players, index))
            else:
                away_avg_ranks.append(calc_avg_scores(players, index))
    matches['homeTeam_matchRank'] = home_avg_ranks
    matches['awayTeam_matchRank'] = away_avg_ranks
    return matches

In [27]:
matches = create_home_away_cols(italy_games)

In [28]:
matches = get_home_away_names(matches)
matches = get_goals(matches)

In [29]:
get_avg_playerank(matches)

,teamsData,seasonId,dateutc,winner,matchId,competitionId,homeId,awayId,homeTeam,awayTeam,homeScore,awayScore,homeTeam_matchRank,awayTeam_matchRank
0,"{'3162': {'scoreET': 0, 'coachId': 251025, 'si...",181248,2018-05-20 18:45:00,3161,2576335,524,3162,3161,Lazio,Internazionale,2,3,0.01185,0.00595
58,"{'3158': {'scoreET': 0, 'coachId': 210119, 'si...",181248,2018-05-20 18:45:00,3158,2576336,524,3315,3158,Sassuolo,Roma,0,1,0.00609,0.01010
45,"{'3164': {'scoreET': 0, 'coachId': 210121, 'si...",181248,2018-05-20 16:00:00,3204,2576337,524,3204,3164,SPAL,Sampdoria,3,1,0.01765,-0.00002
99,"{'3166': {'scoreET': 0, 'coachId': 20481, 'sid...",181248,2018-05-20 16:00:00,3163,2576331,524,3163,3166,Udinese,Bologna,1,0,0.01520,0.00765
21,"{'3173': {'scoreET': 0, 'coachId': 251044, 'si...",181248,2018-05-20 16:00:00,3173,2576329,524,3173,3172,Cagliari,Atalanta,1,0,0.00580,0.00400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,"{'3166': {'scoreET': 0, 'coachId': 20481, 'sid...",181248,2017-08-20 18:45:00,0,2575960,524,3166,3185,Bologna,Torino,1,1,0.01123,-0.00015
193,"{'3165': {'scoreET': 0, 'coachId': 21603, 'sid...",181248,2017-08-20 18:45:00,3165,2575968,524,3163,3165,Udinese,Chievo,1,2,0.01661,0.00995
68,"{'3172': {'scoreET': 0, 'coachId': 210116, 'si...",181248,2017-08-20 16:00:00,3158,2575959,524,3172,3158,Atalanta,Roma,0,1,0.00086,0.00333
320,"{'3194': {'scoreET': 0, 'coachId': 270032, 'si...",181248,2017-08-19 18:45:00,3187,2575962,524,3194,3187,Hellas Verona,Napoli,1,3,-0.00329,0.02108
274,"{'3159': {'scoreET': 0, 'coachId': 20386, 'sid...",181248,2017-08-19 16:00:00,3159,2575964,524,3159,3173,Juventus,Cagliari,3,0,0.02570,-0.00031